.navbar-nav,
.d-flex {
  list-style-type: none;
  padding-left: 0;
  /* Remove left padding */
}

.naw {
  color: rgb(36, 201, 44) !important;
}

.costom {
  width: 100%;
  height: 500px;
}

.btn-center {
  display: flex;
  justify-content: center;
}
/* .navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: rgb(241, 23, 23);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
} */

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active:hover {
  color: rgb(36, 201, 44) !important;
}
/* ---------------------------------------------- */


#portfolio-flters li {
  display: inline-block;
  font-weight: 500;
  /* color: var(--dark); */
  color: black;
  cursor: pointer;
  transition: .5s;
  border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
  /* color: var(--primary);
  border-color: var(--primary); */
  color: blue;
  border-color: #9B9B9B;
}

.portfolio-img {
  position: relative;
}

.portfolio-img::before,
.portfolio-img::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  /* background: var(--dark); */
  background-color: black;
  transition: .5s;
}

.portfolio-img::before {
  left: 50%;
}

.portfolio-img::after {
  right: 50%;
}

.portfolio-item:hover .portfolio-img::before {
  width: 51%;
  left: 0;
}

.portfolio-item:hover .portfolio-img::after {
  width: 51%;
  right: 0;
}

.portfolio-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 1;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  transition-delay: .3s;
}
.head{
  max-width: 600px;
  
}



/* --------------------------------------footer css */
element.style {
  visibility: visible;
  animation-delay: 0.1s;
  animation-name: fadeIn;
}

.bg-dark {
  background-color: #1A2A36 !important;
}

.text-body {
  color: #9B9B9B !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.fadeIn {
  animation-name: fadeIn;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9B9B9B;
  background-color: #fff;

}

root {
  --primary: #32C36C;
  --light: #F6F7F8;
  --dark: #1A2A36;
  visibility: visible;
  animation-delay: 0.1s;
  animation-name: fadeIn;
}
/* --------------------------------------------------------------- */
/* @media (min-width: 992px) {
  .container.about {
      max-width: 100% !important;
  }

  .about-text  {
      padding-right: calc(((100% - 960px) / 2) + .75rem);
  }
}

@media (min-width: 1200px) {
  .about-text  {
      padding-right: calc(((100% - 1140px) / 2) + .75rem);
  }
}

@media (min-width: 1400px) {
  .about-text  {
      padding-right: calc(((100% - 1320px) / 2) + .75rem);
  }
} */


/*** Service ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
  border-radius: 8px 60px 0 0;
}

.team-item .team-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #FFFFFF;
  transition: .5s;
}
/* ---------------------------------------------------------------------- */
 .abc{
  width: 1200px;
  height: 400px;
 
} 
/* ------------------------------------------------------------------------ */
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 300px;
  }
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 350px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
  width: 300px;
  opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  color: var(--primary);
  font-size: 45px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

.testimonial-carousel .testimonial-img img {
  width: 100px;
  height: 100px;
}

.testimonial-carousel .testimonial-img .btn-square {
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-carousel .owl-item .testimonial-text {
  margin-bottom: 30px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transform: scale(.8);
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  transform: scale(1);
}

